#countdown-bar {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    height: calc(1px + 0.5vmin);
    animation-duration: var(--countdown);
    animation-name: shrink;
    animation-timing-function: linear;
}

.countdown-text {
    position: absolute;
    margin: 0;
    top: 0;
    left: 50%;
    transform: translate(-50%, 25%);
    font-size: calc(8px + 2vmin);
}

@keyframes shrink {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}
