@font-face {
  font-family: 'Question Serif';
  font-style: normal;
  src: url('../fonts/Chunkfive.ttf') format('truetype');
}

@font-face {
  font-family: 'Title Sans';
  font-style: normal;
  src: url('../fonts/sacramento.ttf') format('truetype');
}

@font-face {
  font-family: 'Answer Sans';
  font-style: normal;
  src: url('../fonts/Please write me a song.ttf') format('truetype');
}

#countdown-bar {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    height: calc(1px + 0.5vmin);
    animation-duration: var(--countdown);
    animation-name: shrink;
    animation-timing-function: linear;
}

.countdown-text {
    position: absolute;
    margin: 0;
    top: 0;
    left: 50%;
    transform: translate(-50%, 25%);
    font-size: calc(8px + 2vmin);
}

@keyframes shrink {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}

.title-text {
  font-family: 'Title Sans';
  font-size: calc(32px + 2vmin);
  margin: 0;
}

.question-text {
  font-family: 'Question Serif';
  font-size: calc(16px + 2vmin);
}

.question-count-intro {
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: bounce-down-from-above;
  animation-duration: 0.6s;
  animation-delay: 0.1s;
}

.question-intro {
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-delay: 1.1s;
}

.question-hidden-answers {
  /* hide answer section so we can pop them in gracefully without popping the layout */
  visibility: hidden;
}

.or-interstitial {
  font-family: 'Question Serif';
  font-size: calc(10px + 1.25vmin);
  cursor: default;
}

.button.-quiz-answer {
  color: #202129;
  font-family: 'Answer Sans';
  font-size: calc(14px + 1.75vmin);
  border-radius: 0px;
  border: calc(1px + 0.1vmin) solid #000; 
  background-color: #fff;
  text-transform: none;
  width: 80%;
}

.button.-quiz-answer.-selected {
  color: var(--color-smoke);
  background-color: var(--color-dark);
  border-color: var(--color-smoke);
}

.button.-quiz-answer.-correct {
    color: var(--color-snow);
    background-color: var(--color-grass);
}

.button.-quiz-answer.-incorrect {
    color: var(--color-smoke);
    background-color: var(--color-dark);
}

.button.-quiz-answer.-intro {
  transform: scale(0, 0);
  animation-fill-mode: forwards;
  animation-name: pop-in;
  animation-duration: 0.5s;
}

.button.-quiz-answer.-intro.-seq0 {
  animation-delay: 0.1s;
}

.button.-quiz-answer.-intro.-seq1 {
  animation-delay: 0.3s;
}

.button.-quiz-answer.-intro.-seq2 {
  animation-delay: 0.5s;
}

.button.-quiz-answer.-intro.-seq3 {
  animation-delay: 0.7s;
}

.results-question-text {
  font-family: 'Question Serif';
  font-size: calc(10px + 1.5vmin);
}

.results-profile-thumbnail {
  max-width: 100%;
  max-height: 100%;
}

.answer-grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.answer-grid-item {
  flex-basis: auto;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  margin: auto 0;
}

.answer-grid-row.-intro {
  max-height: 0;
  overflow: hidden;
  animation-fill-mode: forwards;
  animation-name: pop-in-container;
  animation-duration: 0.7s;
}

.profile-grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.profile-grid-item {
  flex-basis: 16.6%;
  padding: 1px;
  position: relative;
  box-sizing: border-box;
}

.question-img {
  width: 100%;
  height: auto;
  clip-path: circle(var(--maskSize) at var(--maskX) var(--maskY));
}

.question-img-animate {
  width: 100%;
  height: auto;
  animation: question-img-reveal 2s normal;
}

@keyframes question-img-reveal {
  0% {
    clip-path: circle(var(--maskSize) at var(--maskX) var(--maskY));
  }
  100% {
    clip-path: circle(75%);
  }
}

@keyframes bounce-down-from-above {
  0% {
    opacity: .2;
    transform: translateY(-200px);
  }

  50% {
    opacity: .7;
    transform: translateY(15px);
  }

  60% {
    opacity: .7;
    transform: translateY(12px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }

  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes pop-in-container {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 1000px;
  }
}

@keyframes zoom-out {
  0% {
    width: 100%;
    transform: matrix(7.0, 0, 0, 7.0, -2000, 1400);
  }

  100% {
    width: 100%;
    transform: matrix(1.0, 0, 0, 1.0, 0, 0);
  }
}

@media(max-width: 768px) {
    .profile-grid-item {
        flex-basis: 20%;
    }
}

@media(max-width: 425px) {
    .profile-grid-item {
        flex-basis: 25%;
    }
}

@media(max-width: 425px) {
    .answer-grid-item {
        flex-basis: 80%;
    }
}
